<!DOCTYPE html>

<html>
<head>
  <title>CS Bin</title>
  <meta charset="utf-8">

  <link rel="icon" type="image/png" href="/favicon.png">
  <link href='https://fonts.googleapis.com/css?family=Open+Sans|Lato:400,200' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="/third_party/CodeMirror-4.0.3/lib/codemirror.css">
  <link rel="stylesheet" href="/third_party/CodeMirror-4.0.3/addon/fold/foldgutter.css">
  <link rel="stylesheet" href="/third_party/CodeMirror-4.0.3/addon/dialog/dialog.css">
  <link rel="stylesheet" href="/third_party/CodeMirror-4.0.3/theme/dracula.css">
  <link rel="stylesheet" href="/third_party/alertify.core.css">
  <link rel="stylesheet" href="/third_party/alertify.default.css">
  <link rel="stylesheet" href="/style.min.css">

  <script src="/third_party/CodeMirror-4.0.3/lib/codemirror.js"></script>
  <script src="/third_party/CodeMirror-4.0.3/addon/edit/matchbrackets.js"></script>
  <script src="/third_party/CodeMirror-4.0.3/addon/edit/closebrackets.js"></script>
  <script src="/third_party/CodeMirror-4.0.3/addon/comment/comment.js"></script>
  <script src="/third_party/CodeMirror-4.0.3/addon/wrap/hardwrap.js"></script>
  <script src="/third_party/CodeMirror-4.0.3/mode/javascript/javascript.js"></script>
  <script src="/third_party/CodeMirror-4.0.3/keymap/sublime.js"></script>

  <script src="/third_party/alertify.min.js"></script>

</head>
<body>

  <div id="left">
    <div id='editor-wrap'>
      <textarea id="code-editor" autofocus><%- include(challenges + '/code') %></textarea>

      <div class="btn-group">
        <button id="execute" class="btn btn-primary" title="Ctrl + s">Run Code</button>
        <button id="save" class="btn btn-primary">Save</button>
        <button id="clear" class="btn btn-danger">Start Over</button>
      </div>
    </div>

    <div id="black-stuff">
      <div id="resize-wrap">
        <div class="resize"></div>
      </div>

      <div id="console">
        <div id="close">X</div>
        <div id="output"></div>
        <form id="prompt">
          &gt <input type="text" name="shell">
        </form>
      </div>
    </div>
  </div>

  <div id="right">
    <% if (process.env.NODE_ENV === 'test') { %>
      <nav>
        <ul>
          <a href="/callbacks" class="<%= challenges === 'callbacks' ? 'active' : '' %>"><li>CALLBACKS</li></a
          ><a href="/oop" class="<%= challenges === 'oop' ? 'active' : '' %>"><li>OBJECTS</li></a
          ><a href="/closures" class="<%= challenges === 'closures' ? 'active' : '' %>"><li>CLOSURES</li></a>
        </ul>
      </nav>
    <% } %>

    <ul id="instruct">
      <%- include(challenges + '/instruct') %>
    </ul>

    <footer>
      Supported Broswers:
      <img src="img/chrome.ico" title="google chrome">
      <img src="img/firefox.ico" title="mozilla firefox">
      <img src="img/safari.ico" title="safari">
    </footer>
  </div>

  <script src="https://code.jquery.com/jquery-2.2.2.min.js" integrity="sha256-36cp2Co+/62rEAAYHLmRCPIych47CvdM+uTBJwSzWjI=" crossorigin="anonymous"></script>
  <!-- <script src="/third_party/jquery-ui-1.11.4.custom/jquery-ui.min.js"></script> -->
  <script src="/bundle.js"></script>
  <script src="/third_party/esprima.js"></script>

</body>
</html>
